<?xml version="1.0" encoding="UTF-8"?>

<!-- status="OFF"，可以去掉，它的含义为是否记录log4j2本身的event信息，默认是OFF -->
<Configuration status="warn">

    <Properties>
        <property name="filename">logs/storage-api.log</property>
        <property name="rfilename">logs/storage-api.log%d{yyyy-MM-dd}.log</property>
        <property name="filename2">logs/error.log</property>
        <property name="rfilename2">logs/error.log%d{yyyy-MM-dd}.log</property>
        <property name="pattern">[%d] (%F\:%L) %-5p - %m%n</property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <RollingFile name="R" fileName="${filename}" filePattern="${rfilename}">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- <SizeBasedTriggeringPolicy size="250 MB"/> -->
            </Policies>
        </RollingFile>
        <RollingFile name="R2" fileName="${filename2}" filePattern="${rfilename2}">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- <SizeBasedTriggeringPolicy size="250 MB"/> -->
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="org.springframework.web" level="info"/>

        <Logger name="org.springframework.jdbc.datasource" level="debug"/>
        <Logger name="org.springframework.transaction" level="debug"/>
        <Logger name="com.alibaba.druid" level="debug"/>

        <Logger name="com.dingtalk.open.client.transport.FlowControlInvoke" level="warn"/>

    </Loggers>
</Configuration>
